@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
/* font-family: 'Heebo', sans-serif; */

* {
    padding: 0;
    margin: 0; 

    font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {
    scroll-behavior: smooth;
}

.header {
    height: 80px;
    position: sticky;
    top: 0;
    background-color: #ed40f1;
    box-shadow: 0px 3px 5px 0px rgba(255,171,252,1);

    justify-content: center;
    align-items: center;
    text-align: center;
}

.content img {
    padding-top: 1rem;
    border-radius: .5rem;

    border-radius: 8px;
}

.section-one {
    height: auto;
    padding-top: 4rem;

    padding: 4rem 1rem 8rem 1rem;
    color: #9c939c;
}

.img-one, .text-one{
    padding: 3rem 2rem 2rem;
}

.text-one {

}

.text-one > h1 {
 font-size: 32px;
 font-weight: 700;

 padding-bottom: .5rem;
}

.text-one > p {
    font-size: 16px;
    font-weight: 400;
}

.section-carousel {
    height: 700px;
    /* background-color: #fba5fb; */
    background: rgb(237,64,241);
    background: linear-gradient(174deg, rgba(237,64,241,1) 0%, rgba(251,165,251,1) 71%);
}








.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}







<div class="container">
    <input type="radio" name="slider" id="item-1" checked>
    <input type="radio" name="slider" id="item-2">
    <input type="radio" name="slider" id="item-3">
  <div class="cards">
    <label class="card" for="item-1" id="song-1">
      <img src="https://images.unsplash.com/photo-1530651788726-1dbf58eeef1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=882&q=80" alt="song">
    </label>
    <label class="card" for="item-2" id="song-2">
      <img src="https://images.unsplash.com/photo-1559386484-97dfc0e15539?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80" alt="song">
    </label>
    <label class="card" for="item-3" id="song-3">
      <img src="https://images.unsplash.com/photo-1533461502717-83546f485d24?ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="song">
    </label>
  </div>
  <div class="player">
    <div class="upper-part">
      <div class="play-icon">
        <svg width="20" height="20" fill="#2992dc" stroke="#2992dc" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-play" viewBox="0 0 24 24">
          <defs/>
          <path d="M5 3l14 9-14 9V3z"/>
        </svg>
      </div>
      <div class="info-area" id="test">
        <label class="song-info" id="song-info-1">
          <div class="title">Bunker</div>
          <div class="sub-line">
            <div class="subtitle">Balthazar</div>
            <div class="time">4.05</div>
          </div>
        </label>
        <label class="song-info" id="song-info-2">
          <div class="title">Words Remain</div>
          <div class="sub-line">
            <div class="subtitle">Moderator</div>
            <div class="time">4.05</div>
          </div>
        </label>
        <label class="song-info" id="song-info-3">
          <div class="title">Falling Out</div>
          <div class="sub-line">
            <div class="subtitle">Otzeki</div>
            <div class="time">4.05</div>
          </div>
        </label>
      </div>
    </div>
    <div class="progress-bar">
      <span class="progress"></span>
    </div>
  </div>
</div>



